<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cider_x64.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Cider_x64.Properties.Settings>
            <setting name="CheckNewVersionUri" serializeAs="String">
                <value>http://ubytovanie-vm.hyperlink.sk/Cider-x64-CheckNewVersion.php</value>
            </setting>
        </Cider_x64.Properties.Settings>
    </applicationSettings>
</configuration>